/.git
/data
/pseudo
/tmp

/bands/.ipynb_checkpoints
/bands/alp.bands
/bands/alp.bands.gnu
/bands/alp.bands.rap

/convergence/.ipynb_checkpoints
/convergence/*.in
/convergence/*.out

/w90/.ipynb_checkpoints
/w90/alp.amn
/w90/alp.chk
/w90/alp.eig
/w90/alp.mmn
/w90/alp.nnkp
/w90/alp.spn
/w90/*.xsf
/w90/alp_band.*
/w90/*.NC
